<system.serviceModel>
	<bindings>
		<wsHttpBinding>
			<binding name="WSHttpBinding_ICalculator" />
		</wsHttpBinding>
	</bindings>
	<client>
		<endpoint address="http://localhost:5000/CalculatorService"
		          binding="wsHttpBinding"
		          bindingConfiguration="WSHttpBinding_ICalculator"
		          contract="CalculatorService.ICalculator"
		          name="WSHttpBinding_ICalculator" />
	</client>
</system.serviceModel>